h1{
    text-align: center;
    color: rgb(31, 11, 104);
    border: 5px black solid;
    margin: 2px 100px 2px 100px; 
    border-radius: 20px;

}
p{
    text-align: center;
}
h2{
    text-underline-position: below;
    
    color: rgb(31, 11, 104);
    
    margin: 2px 100px 2px 100px; 
     
}
.lis{
    margin-left: 30px;
}
img{
    background-color: brown;
    border: 7px solid green;
    margin: 10px 2px 10px 2px;
}